/.DS_Store
/.bundle
/.idea/
/.vagrant
/.ansible
/Movefile.yml
/_site
/npm-debug.log
/package.box
/provision/playbook.retry
/provision-post.sh
/provision-pre.sh
/site.yml
/site.yml-e
/test.json
/vendor
/wp-cli.yml
/wordpress
/wp-cli
