<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="{{ page.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ page.og_url }}" />
    <meta property="og:image" content="{{ page.og_image }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <title>{{ page.title }}</title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytice.id }}', '{{ site.google_analytice.propname }}');
        ga('send', 'pageview');
    </script>

  </head>

  <body>
    <header id="top">
      <div class="inner">
        <h1>{{ site.header.title }}</h1>
        <h2>{{ site.header.description }}</h2>
        <a href="https://github.com/{{ site.github.user }}/{{ site.github.project }}" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

        {{ content }}

        </section>

        <aside id="sidebar">

<div id="social-buttons">
  <ul>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=miya0001&amp;repo=vccw&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=miya0001&amp;repo=vccw&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
    </li>
  </ul>
</div>

<br clear="all" />

          <a id="zipball_link" class="button">
            <small>Download</small>
            .zip
          </a>
          <a id="tarball_link" class="button">
            <small>Download</small>
            .tar.gz
          </a>

          <h1><i class="fa fa-exclamation-circle"></i> Issues</h1>

          <div id="issues"></div>

          <h1><i class="fa fa-user"></i> Contributors</h1>

          <ul id="contributors"></ul>

        </aside>

      </div>
    </div>

<footer>{{ site.footer }}</footer>

<script type="text/javascript">
  var gh_user    = '{{ site.github.user }}';
  var gh_project = '{{ site.github.project }}';
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="https://api.github.com/repos/miya0001/vccw/tags?callback=set_link"></script>
<script type="text/javascript" src="https://api.github.com/repos/miya0001/vccw/contributors?callback=show_contributors"></script>
<script type="text/javascript" src="https://api.github.com/repos/miya0001/vccw/issues?callback=show_issues"></script>

  </body>
</html>
